#meals{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;
}
.meal{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
}
.meal-name{
    font-size: 20px;
}
.meal-img{
    border-radius: 5px;
    height: 200px;
    width: 200px;
}